@model Ski_Rental.Models.Rezerwacja

@{
    ViewBag.Title = "Rezerwacja";
}

<h2>Rezerwacja sprzętu</h2>

<div class="rowNart
    <div class="col-md-6">
        <h3>Wybrany sprzęt:</h3>
        @if (ViewBag.TypSprzetu == "narty")
        {
            var narty = ViewBag.Sprzet as Ski_Rental.Models.Narty;
            <p>Nazwa: @narty.Nazwa</p>
            <p>Opis: @narty.Opis</p>
            <p>Producent: @narty.Producent</p>
            <p>Kolor: @narty.Kolor</p>
            <p>Rozmiar: @narty.Rozmiar</p>
            <p>Cena za godzinę: @narty.CenaGodzinowa zł</p>
        }
        else if (ViewBag.TypSprzetu == "buty")
        {
            var buty = ViewBag.Sprzet as Ski_Rental.Models.ButyNarciarskie;
            <p>Nazwa: @buty.Nazwa</p>
            <p>Opis: @buty.Opis</p>
            <p>Producent: @buty.Producent</p>
            <p>Kolor: @buty.Kolor</p>
            <p>Rozmiar: @buty.Rozmiar</p>
            <p>Cena za godzinę: @buty.CenaGodzinowa zł</p>
        }